<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>aServlet</servlet-name>
    <servlet-class>cupojava.aServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cupojava.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>cupojava.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cupojava.AccountServlet</servlet-name>
    <servlet-class>cupojava.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cupojava.LoginServlet</servlet-name>
    <servlet-class>cupojava.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>cupojava.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cupojava.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuViewServlet</servlet-name>
    <servlet-class>cupojava.MenuViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetRedirectServlet</servlet-name>
    <servlet-class>cupojava.SetRedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountEditServlet</servlet-name>
    <servlet-class>cupojava.AccountEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>cupojava.SignOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>cupojava.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aServlet</servlet-name>
    <url-pattern>/aServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cupojava.AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cupojava.LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuViewServlet</servlet-name>
    <url-pattern>/MenuViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetRedirectServlet</servlet-name>
    <url-pattern>/SetRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountEditServlet</servlet-name>
    <url-pattern>/AccountEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
</web-app>
